<section id="deal" class="deal">
    <div class="container">
        <h2 class="h h2 italic">Deal today</h2>
        <div class="deal__content">
            <div class="deal__img">
                <img src="img/veggies8.png">
                <div class="nutrition">
                    <div class="nutrition__item">
                        <div class="nutrition__img"></div>
                        <div class="nutrition__text">
                            <span>14mg</span>
                            <span>Sodium</span>
                        </div>
                    </div>
                    <div class="nutrition__item">
                        <div class="nutrition__img"></div>
                        <div class="nutrition__text">
                            <span>2mg</span>
                            <span>Fiber</span>
                        </div>
                    </div>
                    <div class="nutrition__item">
                        <div class="nutrition__img"></div>
                        <div class="nutrition__text">
                            <span>10mg</span>
                            <span>Vitamin C</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="deal__info">
                <div class="deal__title">Organic soup mix 500g</div>
                <div class="deal__price">
                    <span>Price:</span>
                    <span>$20.99</span>
                    <div class="rates">
                        <div class="rates__scale"></div>
                    </div>
                </div>
                <p>Bacon ipsum dolor amet hamburger pork loin swine, flank short loin ham tenderloin meatball ball tip.</p>
                <ul class="deal__list">
                    <li>
                        <p>Kielbasa pork loin doner ball tip</p>
                    </li>
                    <li>
                        <p>Short loin sirloin ball tip beef sausage</p>
                    </li>
                    <li>
                        <p>Swine pig bacon, shankle ribeye pancetta</p>
                    </li>
                </ul>
                <a href="#" class="button button--small">Add to cart</a>
            </div>
        </div>
    </div>
</section>