<header class="header">
    <div class="container">
        <div class="header__part">
            <div class="header__item">
                <img src="img/icon-like.png" class="header__img">
                <span class="header__text">Order Online</span>
            </div>
            <div class="header__item">
                <img src="img/icon-clock.png" class="header__img">
                <span class="header__text">07:30 am — 11:00 pm</span>
            </div>
        </div>
        <div class="header__part">
            <a href="" class="header__item header__item--bordered">
                <img src="img/icon-user.png" class="header__img">
                <span class="header__text">My Account</span>
            </a>
            <a href="#" class="header__item">
                <img src="img/icon-cart.png" class="header__img">
                <div class="header__circle">
                    <span class="header__text">7</span>
                </div>
            </a>
        </div>
    </div>
</header>