<section id="intro" class="intro">
    <div class="container">
        <div class="topbar">
            <a href="#" class="logo italic">Smoothy</a>
            <div class="nav">
                <a href="#" class="nav__item">Home</a>
                <a href="#" class="nav__item">About</a>
                <a href="#" class="nav__item">Shop</a>
                <a href="#" class="nav__item">Blog</a>
                <a href="#" class="nav__item">Pages</a>
                <a href="#" class="nav__item">Contact</a>
                <div class="nav__item">
                    <img src="img/icon-search.png" class="nav__img" alt="search">
                    <form class="nav__search">

                    </form>
                </div>
            </div>
        </div>
        <div class="slogan">
            <div class="slogan__img"></div>
            <div class="slogan__circle">Healthy food</div>
            <h1 class="h h1 italic">Organic</h1>
            <span class="slogan__text">Good for natural, good for you</span>
            <a href="" class="button button--big">Shop now</a>
        </div>
    </div>
</section>

