<section id="products" class="products">
    <div class="container">
        <h2 class="h h2 italic">Our products</h2>
        <div class="products__content">
            <div class="menu">
                <div class="menu__item" data="menu_all">All</div>
                <div class="menu__item menu__item--active" data="menu_vegetables">Vegetables</div>
                <div class="menu__item" data="menu_juices">Juices</div>
                <div class="menu__item" data="menu_dried">Dried products</div>
            </div>
            <div class="products__list">
                <include src="products__item.html" title="corn" sum="5.00" url="img/veggies2.jpg"></include>
                <include src="products__item.html" title="cabbage" sum="10.00" url="img/veggies3.jpg"></include>
                <include src="products__item.html" title="cucumber" sum="15.00" url="img/veggies4.jpg"></include>
                <include src="products__item.html" title="carrots" sum="10.00" url="img/veggies5.jpg"></include>
                <include src="products__item.html" title="bell pepper" sum="12.00" url="img/veggies6.jpg"></include>
                <include src="products__item.html" title="salad" sum="15.00" url="img/veggies7.jpg"></include>
            </div>
            <button class="button button--big button--inverted">View more</button>
        </div>
    </div>
</section>