<div class="products__item">
    <div class="products__img">
        <img src="@@url" alt="@@title">
    </div>
    <div class="products__info">
        <div class="products__title">@@title</div>
        <div class="products__price">
            <div class="products__sum">
                <span>$</span>
                <span>@@sum</span>
            </div>
            <div class="products__per">/kg</div>
        </div>
        <div class="products__doing">
            <div class="doing">
                <div class="doing__item">
                    <img src="img/icon-cart.png" alt="cart">
                </div>
                <div class="doing__item">
                    <img src="img/icon-like.png" alt="like">
                </div>
                <div class="doing__item">
                    <img src="img/icon-share.png" alt="share">
                </div>
            </div>
        </div>
    </div>
</div>