<section id="welcome" class="welcome">
    <div class="container">
        <h2 class="h h2 italic">Welcome to smoothy</h2>
        <div class="welcome__content">
            <div class="welcome__part">
                <div class="welcome__item">
                    <div class="welcome__img">
                        <img src="img/icon-natural.png" alt="natural" />
                    </div>
                    <div class="welcome__title">100% natural</div>
                    <div class="welcome__text">
                        <p>Pig strip steak spare ribs ball tip id nulla. Short ribs bacon veniam, tail corned beef ipsum sint cupidatat dolor ad proident.</p>
                    </div>
                </div>
                <div class="welcome__item">
                    <div class="welcome__img">
                        <img src="img/icon-fresh.png" alt="fresh" />
                    </div>
                    <div class="welcome__title">Always fresh</div>
                    <div class="welcome__text">
                        <p>Pig strip steak spare ribs ball tip id nulla. Short ribs bacon veniam, tail corned beef ipsum sint cupidatat dolor ad proident.</p>
                    </div>
                </div>
            </div>
            <div class="welcome__part welcome__part--circle">
                <div class="stay">
                    <div class="stay__circle">
                        <div class="stay__text italic">Stay <br>Healthy</div>
                    </div>
                </div>
            </div>
            <div class="welcome__part">
                <div class="welcome__item">
                    <div class="welcome__img">
                        <img src="img/icon-organic.png" alt="organic" />
                    </div>
                    <div class="welcome__title">Organic products</div>
                    <div class="welcome__text">
                        <p>Pig strip steak spare ribs ball tip id nulla. Short ribs bacon veniam, tail corned beef ipsum sint cupidatat dolor ad proident.</p>
                    </div>
                </div>
                <div class="welcome__item">
                    <div class="welcome__img">
                        <img src="img/icon-quality.png" alt="quality" />
                    </div>
                    <div class="welcome__title">Best quality</div>
                    <div class="welcome__text">
                        <p>Pig strip steak spare ribs ball tip id nulla. Short ribs bacon veniam, tail corned beef ipsum sint cupidatat dolor ad proident.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
