.h {
    margin: 0;
    text-transform: capitalize;
}

.h1 {
    font-size: 105px;
    margin: 5px 0 50px -25px;
    letter-spacing: 3px;
}

.h2 {
    font-size: 62px;
    letter-spacing: 2px;
}

.welcome {

    & .h2 {
        margin-bottom: 95px;
    }
}

.products {

    & .h2 {
        margin-bottom: 70px;
    }
}

.deal {

    & .h2 {
        margin-bottom: 90px;
    }
}